

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px 20px 100px;
    /* border: 2px solid red; */
}

#task-counter{
    width: 50%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
}

input{
    width: 70%;
}

#field-btn-div{
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 10px;
}

#list-of-items{
    width: 100%;
    list-style-type: none;
    padding: 0;
}

li{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

#check-box{
    margin-right: 0;
    padding: 0;

}

#item-text{
    border: 2px solid green;
    flex-grow: 1;
}

#del-btn{
    border: 2px solid green;
}