*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #787878;
}

.board{
    display: flex;
    gap: 20px;
}

.column{
    background-color: #393e46;
    width: 300px;
    min-height: 400px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
}

.column h2{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.tasks{
    min-height: 400px;
}

.task-input{
    width: 100%;
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.add-task{
    width: 100%;
    padding: 10px 5px;
    border-radius: 4px;
    border: none;
    background-color: #d89216;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.add-task:hover{
    background-color: #a66f11;
}

.card{
    position: relative;
    background-color: #e1d89f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #000;
    cursor: grab;
    transition: all 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
}

.dragging{
    display: none;
}

.context-menu{
    position: absolute;
    display: none;
    background-color: #fff;
    padding: 10px 0;
    border-radius: 4px;
}

.context-menu ul li{
    list-style: none;
    padding: 8px 20px;
    cursor: pointer;
    color: #333;
}

.context-menu ul li:hover{
    background-color: #b1b1b1;
}

.time{
    text-align: end;
    display: block;
    font-style: italic;
    font-size: 12px;
    columns: #000;
}