*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    padding: 30px;
    gap: 20px;
}
.board{
    border: 2px solid white;
    height: 80vh;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.item{
    border: 2px solid;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 10px;
    
}
.item:hover{
    cursor: pointer;
    background-color: #e4e4e4;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: none;
}

h4{
    font-size: 30px;
    text-transform: uppercase;
}